body {
	font-family: FreeMono, monospace;
	padding-top: 36px;
}

.link {
	text-decoration: none;
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.wrap {
	display: grid;
	grid-template-areas: 'sidebar ... content content';
	margin: auto;
	width: 700px;
}