.footer {
	display: flex;
	justify-content: space-around;
	font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.count,
.wraper {
	display: flex;
	align-items: center;
}

.button {
	font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  transition: opacity .5s;
}

.button:hover {
  opacity: 0.5;
  text-decoration: underline;
}